.env
.DS_Store
log
*.sublime*
tmp
*.log
*.bak*
*.rdb
node_modules
dump
/client/.next
coverage
__pycache__
.ipynb_checkpoints
**/scripts-local
.migrate
*/**/__fixtures__/cache_path/
*/**/.vscode
*.code-workspace
/.vscode/launch.json
.expressions
.repo
